@model IEnumerable<prjDemo.Models.TProduct>

@{
    ViewData["Title"] = "List";
}

<h1>線上購物</h1>

<p>
    <a asp-action="Create">檢視購物車</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model) {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPrice)
                    </td>
                    <td>
                            <img src="~/image/@(item.FPhotoPath).jpg" width="200" height="150"/>
                    <td>
                        @Html.ActionLink("加入購物車", "AddToCart", new {id=item.FId }) 
                    </td>
                </tr>
}
}
    </tbody>
</table>
